<nav class="main-navigation">
    <ul class="nav-list">
        <div class="navbar-header animated fadeInUp">
            <h2>  <a class="navbar-brand" routerLink="/dashboard">Allonime</a></h2>
            
        </div>
        <li class="nav-list-item">
            <a class="nav-link" routerLink="/dashboard">Anime</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link" routerLink="/opening">Opening</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link" routerLink="/ending">Ending</a>
        </li>
        <li class="nav-list-item">
                <a class="nav-link" routerLink="/gif">GIF</a>
        </li>
    </ul>
</nav>