<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 <nav class="main-navigation">
        <ul class="nav-list">
            <div class="navbar-header animated fadeInUp">
                <h2>  <a class="navbar-brand" routerLink="/dashboard">Allonime</a></h2>
                
            </div>
            <li class="nav-list-item">
                <a class="nav-link" routerLink="/dashboard">Anime</a>
            </li>
            <li class="nav-list-item">
                <a class="nav-link" routerLink="/opening">Opening</a>
            </li>
            <li class="nav-list-item">
                <a class="nav-link" routerLink="/ending">Ending</a>
            </li>
            <li class="nav-list-item">
                    <a class="nav-link" routerLink="/gif">GIF</a>
            </li>
        </ul>

    </nav>