<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">


<section class="footer pt-5">
    <div class="container">
	<div class="row d-flex ">
            <div class="col-md-3 col-xs-3">
                
                <h1><b>ALLONIME</b></h1>
                
            </div>
            <div class="col-md-3 col-xs-3">
                <h5><b>Qui sommes nous ?</b></h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Présentation de l'équipe</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-dark">Trombinoscope</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-dark">Connaissez vous StrongR ?</a></li>
                    
                </ul>
            </div>
            <div class="col-md-3 col-xs-3">
                <h5><b>Contact</b></h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Nous contacter</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-dark">Résoudre un problème ?</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-dark">Rejoindre notre équipe</a></li>
                    
                </ul>
            </div>
            <div class="col-md-3 col-xs-3">
                <h5><b>Autre</b></h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Mention légale</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-dark">Réseaux sociaux</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-dark"></a></li>
                    
                </ul>
            </div>
            
        </div>
</div>
<div class="py-2 bg-warning border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <small>© 2020 StrongR_Corp. All Rights Reserved</small>
            </div>
        </div>
    </div>
</div>
</section>

